.last-one{
    padding: 53px 217px 33px 102px;
}

.last-one__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.last-one ul{
    list-style-type: none;
}

.last-one ul li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #393737;
    margin-bottom: 20px;
}

.last-one ul a:hover{
    text-decoration: none;
}

.last-one__email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

.last-one__socials{
    margin-bottom: 13px;
    display: flex;
    align-items: flex-start;
    width: 168px;
    justify-content: space-between;
}

.last-one__state{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #70748C;
}

.last-one a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #B5B7C7;
    line-height: 12px;
}

.last-one__link{
    display: block;
}

.last-one__last{
    margin-left: 16px;
}

.last-one__link:after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #DDEBFF;
    margin: 20px 0;
}

.last-one__socials a img{
    transition: 0.5s all;
}

